<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kanion.www.dao.KymMedicineMapper" >
  <resultMap id="BaseResultMap" type="com.kanion.www.model.KymMedicine" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="SPELLING" property="spelling" jdbcType="VARCHAR" />
    <result column="FUNCTIONS" property="functions" jdbcType="VARCHAR" />
    <result column="STANDARD" property="standard" jdbcType="VARCHAR" />
    <result column="PROPERTY" property="property" jdbcType="VARCHAR" />
    <result column="PACK" property="pack" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <result column="ELEMENT" property="element" jdbcType="VARCHAR" />
    <result column="DIRECTIONS" property="directions" jdbcType="VARCHAR" />
    <result column="ADVERSEEFFECT" property="adverseeffect" jdbcType="VARCHAR" />
    <result column="TABOO" property="taboo" jdbcType="VARCHAR" />
    <result column="NOTES" property="notes" jdbcType="VARCHAR" />
    <result column="CLINICALTEST" property="clinicaltest" jdbcType="VARCHAR" />
    <result column="STORAGE" property="storage" jdbcType="VARCHAR" />
    <result column="TOXICOLOGY" property="toxicology" jdbcType="VARCHAR" />
    <result column="EXPIRYDATE" property="expirydate" jdbcType="VARCHAR" />
    <result column="EXECUTIVESTANDARD" property="executivestandard" jdbcType="VARCHAR" />
    <result column="APPROVALNUMBER" property="approvalnumber" jdbcType="VARCHAR" />
    <result column="MANUFACTURINGENTERPRISES" property="manufacturingenterprises" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, NAME, SPELLING, FUNCTIONS, STANDARD, PROPERTY, PACK, TYPE, ELEMENT, DIRECTIONS, 
    ADVERSEEFFECT, TABOO, NOTES, CLINICALTEST, STORAGE, TOXICOLOGY, EXPIRYDATE, EXECUTIVESTANDARD, 
    APPROVALNUMBER, MANUFACTURINGENTERPRISES
  </sql>
  
  <select id="selectAll" resultMap="BaseResultMap">
      select * from KANGYUAN.KYMEDICINE order by "ID"      
  </select>
  
  <select id="selectByName" resultMap="BaseResultMap">
  	select * from KANGYUAN.KYMEDICINE where name like concat(concat('%', '${name}'), '%') order by "ID" 
  	</select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from KANGYUAN.KYMEDICINE
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from  KANGYUAN.KYMEDICINE
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.kanion.www.model.KymMedicine" >
    insert into KANGYUAN.KYMEDICINE (ID, NAME, SPELLING, 
      FUNCTIONS, STANDARD, PROPERTY, 
      PACK, TYPE, ELEMENT, 
      DIRECTIONS, ADVERSEEFFECT, TABOO, 
      NOTES, CLINICALTEST, STORAGE, 
      TOXICOLOGY, EXPIRYDATE, EXECUTIVESTANDARD, 
      APPROVALNUMBER, MANUFACTURINGENTERPRISES
      )
    values (#{id,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR}, #{spelling,jdbcType=VARCHAR}, 
      #{functions,jdbcType=VARCHAR}, #{standard,jdbcType=VARCHAR}, #{property,jdbcType=VARCHAR}, 
      #{pack,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{element,jdbcType=VARCHAR}, 
      #{directions,jdbcType=VARCHAR}, #{adverseeffect,jdbcType=VARCHAR}, #{taboo,jdbcType=VARCHAR}, 
      #{notes,jdbcType=VARCHAR}, #{clinicaltest,jdbcType=VARCHAR}, #{storage,jdbcType=VARCHAR}, 
      #{toxicology,jdbcType=VARCHAR}, #{expirydate,jdbcType=VARCHAR}, #{executivestandard,jdbcType=VARCHAR}, 
      #{approvalnumber,jdbcType=VARCHAR}, #{manufacturingenterprises,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kanion.www.model.KymMedicine" >
    insert into KANGYUAN.KYMEDICINE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="spelling != null" >
        SPELLING,
      </if>
      <if test="functions != null" >
        FUNCTIONS,
      </if>
      <if test="standard != null" >
        STANDARD,
      </if>
      <if test="property != null" >
        PROPERTY,
      </if>
      <if test="pack != null" >
        PACK,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
      <if test="element != null" >
        ELEMENT,
      </if>
      <if test="directions != null" >
        DIRECTIONS,
      </if>
      <if test="adverseeffect != null" >
        ADVERSEEFFECT,
      </if>
      <if test="taboo != null" >
        TABOO,
      </if>
      <if test="notes != null" >
        NOTES,
      </if>
      <if test="clinicaltest != null" >
        CLINICALTEST,
      </if>
      <if test="storage != null" >
        STORAGE,
      </if>
      <if test="toxicology != null" >
        TOXICOLOGY,
      </if>
      <if test="expirydate != null" >
        EXPIRYDATE,
      </if>
      <if test="executivestandard != null" >
        EXECUTIVESTANDARD,
      </if>
      <if test="approvalnumber != null" >
        APPROVALNUMBER,
      </if>
      <if test="manufacturingenterprises != null" >
        MANUFACTURINGENTERPRISES,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="spelling != null" >
        #{spelling,jdbcType=VARCHAR},
      </if>
      <if test="functions != null" >
        #{functions,jdbcType=VARCHAR},
      </if>
      <if test="standard != null" >
        #{standard,jdbcType=VARCHAR},
      </if>
      <if test="property != null" >
        #{property,jdbcType=VARCHAR},
      </if>
      <if test="pack != null" >
        #{pack,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="element != null" >
        #{element,jdbcType=VARCHAR},
      </if>
      <if test="directions != null" >
        #{directions,jdbcType=VARCHAR},
      </if>
      <if test="adverseeffect != null" >
        #{adverseeffect,jdbcType=VARCHAR},
      </if>
      <if test="taboo != null" >
        #{taboo,jdbcType=VARCHAR},
      </if>
      <if test="notes != null" >
        #{notes,jdbcType=VARCHAR},
      </if>
      <if test="clinicaltest != null" >
        #{clinicaltest,jdbcType=VARCHAR},
      </if>
      <if test="storage != null" >
        #{storage,jdbcType=VARCHAR},
      </if>
      <if test="toxicology != null" >
        #{toxicology,jdbcType=VARCHAR},
      </if>
      <if test="expirydate != null" >
        #{expirydate,jdbcType=VARCHAR},
      </if>
      <if test="executivestandard != null" >
        #{executivestandard,jdbcType=VARCHAR},
      </if>
      <if test="approvalnumber != null" >
        #{approvalnumber,jdbcType=VARCHAR},
      </if>
      <if test="manufacturingenterprises != null" >
        #{manufacturingenterprises,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kanion.www.model.KymMedicine" >
    update KANGYUAN.KYMEDICINE
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="spelling != null" >
        SPELLING = #{spelling,jdbcType=VARCHAR},
      </if>
      <if test="functions != null" >
        FUNCTIONS = #{functions,jdbcType=VARCHAR},
      </if>
      <if test="standard != null" >
        STANDARD = #{standard,jdbcType=VARCHAR},
      </if>
      <if test="property != null" >
        PROPERTY = #{property,jdbcType=VARCHAR},
      </if>
      <if test="pack != null" >
        PACK = #{pack,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="element != null" >
        ELEMENT = #{element,jdbcType=VARCHAR},
      </if>
      <if test="directions != null" >
        DIRECTIONS = #{directions,jdbcType=VARCHAR},
      </if>
      <if test="adverseeffect != null" >
        ADVERSEEFFECT = #{adverseeffect,jdbcType=VARCHAR},
      </if>
      <if test="taboo != null" >
        TABOO = #{taboo,jdbcType=VARCHAR},
      </if>
      <if test="notes != null" >
        NOTES = #{notes,jdbcType=VARCHAR},
      </if>
      <if test="clinicaltest != null" >
        CLINICALTEST = #{clinicaltest,jdbcType=VARCHAR},
      </if>
      <if test="storage != null" >
        STORAGE = #{storage,jdbcType=VARCHAR},
      </if>
      <if test="toxicology != null" >
        TOXICOLOGY = #{toxicology,jdbcType=VARCHAR},
      </if>
      <if test="expirydate != null" >
        EXPIRYDATE = #{expirydate,jdbcType=VARCHAR},
      </if>
      <if test="executivestandard != null" >
        EXECUTIVESTANDARD = #{executivestandard,jdbcType=VARCHAR},
      </if>
      <if test="approvalnumber != null" >
        APPROVALNUMBER = #{approvalnumber,jdbcType=VARCHAR},
      </if>
      <if test="manufacturingenterprises != null" >
        MANUFACTURINGENTERPRISES = #{manufacturingenterprises,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kanion.www.model.KymMedicine" >
    update KANGYUAN.KYMEDICINE
    set NAME = #{name,jdbcType=VARCHAR},
      SPELLING = #{spelling,jdbcType=VARCHAR},
      FUNCTIONS = #{functions,jdbcType=VARCHAR},
      STANDARD = #{standard,jdbcType=VARCHAR},
      PROPERTY = #{property,jdbcType=VARCHAR},
      PACK = #{pack,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      ELEMENT = #{element,jdbcType=VARCHAR},
      DIRECTIONS = #{directions,jdbcType=VARCHAR},
      ADVERSEEFFECT = #{adverseeffect,jdbcType=VARCHAR},
      TABOO = #{taboo,jdbcType=VARCHAR},
      NOTES = #{notes,jdbcType=VARCHAR},
      CLINICALTEST = #{clinicaltest,jdbcType=VARCHAR},
      STORAGE = #{storage,jdbcType=VARCHAR},
      TOXICOLOGY = #{toxicology,jdbcType=VARCHAR},
      EXPIRYDATE = #{expirydate,jdbcType=VARCHAR},
      EXECUTIVESTANDARD = #{executivestandard,jdbcType=VARCHAR},
      APPROVALNUMBER = #{approvalnumber,jdbcType=VARCHAR},
      MANUFACTURINGENTERPRISES = #{manufacturingenterprises,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>