<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kanion.www.dao.UserTableCommentsMapper" >
  <resultMap id="BaseResultMap" type="com.kanion.www.model.UserTableComments" >
    <result column="TABLE_NAME" property="tableName" jdbcType="VARCHAR" />
    <result column="TABLE_TYPE" property="tableType" jdbcType="VARCHAR" />
    <result column="COMMENTS" property="comments" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="selectProductionTable" resultMap="BaseResultMap">
      select * from user_tab_comments where comments is not NULL order by comments      
  </select>
  
  <select id="selectTableChName" resultType="String">
      select COMMENTS from user_tab_comments where table_name= #{tableName}
  </select>
  
  <insert id="insert" parameterType="com.kanion.www.model.UserTableComments" >
    insert into USER_TAB_COMMENTS (TABLE_NAME, TABLE_TYPE, COMMENTS
      )
    values (#{tableName,jdbcType=VARCHAR}, #{tableType,jdbcType=VARCHAR}, #{comments,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kanion.www.model.UserTableComments" >
    insert into USER_TAB_COMMENTS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tableName != null" >
        TABLE_NAME,
      </if>
      <if test="tableType != null" >
        TABLE_TYPE,
      </if>
      <if test="comments != null" >
        COMMENTS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tableName != null" >
        #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="tableType != null" >
        #{tableType,jdbcType=VARCHAR},
      </if>
      <if test="comments != null" >
        #{comments,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>