/*main Body*/
#zs_mainbody{
	position:absolute;
	margin:0 auto;
	background:#fff;
	width:1000px;
	left:0;
	right:0;
	height:100%;
	top:0;
	bottom:0;
	padding-top:120px;
	border-bottom:none;
}
button.zs_orange-btn:focus,
button.zs_orange-btn:hover{
	background:#FA8072;
}

fieldset.zs{
	margin:1em 0;
	padding:0.4em 1em;
	border:1px solid #ccc;
	display:inline-block;
	position:relative;

}

/*图表显示区域*/
.charts{
	width:100%;
	height:400px;
	margin-top:30px;
}


